////////////////////////
		// Layout //
////////////////////////

.header {
	position: relative;
}

.main-home-p {
	overflow: hidden;
	@include md {
		background-color: #1b1d1f;
	}
}

.main {

}

.section {
	position: relative;
}

.section-lf {
	position: relative;
	display: flex;
	flex-direction: column;
	@include lg {
		padding-bottom: 20px;
	}
	@include md {
		background-color: #1b1d1f;
	}
}

.footer {
	position: relative;
}
