////////////////////////
		// Layout //
////////////////////////

.header {
	position: relative;
}

.main-home-p {
	overflow: hidden;
}

.main {

}

.section {
	position: relative;
}

.section-lf {
	position: relative;
	display: flex;
	flex-direction: column;
}

.footer {
	position: relative;
}
