/*  
-------------------------
-------------------------
	Media queries..........
-------------------------
-------------------------
*/

@media screen and (max-width: 950px) {
	/*  
	-------------------------
	-------------------------
		Header style...........
	-------------------------
	-------------------------
	*/

	.hamburger {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 35px;
		height: 35px;
		background-color: $clr-3;
		border-radius: 50%;
		cursor: pointer;
	}

	.hamburger__btn {
		position: relative;
		display: block;
		width: 20px;
		height: 2px;
		background-color: #fff;
	}

	.hamburger__btn::before, .hamburger__btn::after {
		content: "";
		position: absolute;
		display: block;
		width: 20px;
		height: 2px;
		background-color: #fff;
	}

	.hamburger__btn::before {
		top: -5px;
	}

	.hamburger__btn::after {
		bottom: -5px;
	}

	.contact {
		display: none;
	}
	
	.main-nav {
		position: fixed;
		top: 0;
		right: 0;
		width: 300px;
		height: 100%;
		padding: 0;
		background-color: $clr-1;
		text-align:center;
		z-index: 10;
	}

	.main-nav__nav { text-align: center;}

	.main-nav__nav-item { display: block; }	

	.main-nav__nav-item:not(:first-child) { margin: 0; }

	.main-nav__nav-link {
		color: $clr-8;
		padding: 15px;
		border-bottom: 1px solid $clr-7;
	}

	.main-nav__nav-link:hover::after {
		display: none;
	}

	.main-nav .social {
		display: inline-block;
		padding: 0;
		margin-top: 50px;
	}

}