/*  
-------------------------
-------------------------
	Media queries..........
-------------------------
-------------------------
*/

@media screen and (max-width: 950px) {
	/*  
	-------------------------
		Header style...........
	-------------------------
	*/

	.hamburger {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 35px;
		height: 35px;
		background-color: $clr-3;
		border-radius: 50%;
		cursor: pointer;
	}

	.hamburger__btn {
		position: relative;
		display: block;
		width: 20px;
		height: 2px;
		background-color: #fff;
	}

	.hamburger__btn::before, .hamburger__btn::after {
		content: "";
		position: absolute;
		display: block;
		width: 20px;
		height: 2px;
		background-color: #fff;
	}

	.hamburger__btn::before {
		top: -5px;
	}

	.hamburger__btn::after {
		bottom: -5px;
	}

	.contact {
		display: none;
	}
	
	.main-nav {
		position: fixed;
		top: 0;
		right: 0;
		display: block;
		width: 0;
		height: 100%;
		padding: 0;
		background-color: $clr-1;
		text-align:center;
		z-index: 10;
		transition: width 100ms linear;
	}

	.side-menu-close {
		display: block;
		position: absolute;
		left: 10px;
		top: 16px;
		color: $clr-3;
		font-size: 35px;
		font-weight: 900;
		line-height: 20px;
		cursor: pointer;
	}

	.main-nav__nav { 
		text-align: center;
		padding-top: 50px;
	}

	.main-nav__nav-item { display: block; }	

	.main-nav__nav-item:not(:first-child) { margin: 0; }

	.main-nav__nav-link {
		color: $clr-8;
		padding: 15px;
		border-bottom: 1px solid $clr-7;
	}

	.main-nav__nav-item:first-child .main-nav__nav-link {
		border-top: 1px solid $clr-7;
	}

	.main-nav__nav-link:hover::after {
		display: none;
	}

	.main-nav .social {
		display: inline-block;
		padding: 0;
		margin-top: 50px;
	}

	/*  
	-------------------------
		Portfolio style...........
	-------------------------
	*/

	.portfolio__btn-box {
		flex-direction: column;
		align-items: stretch;
	}

	.portfolio__b-box {
		align-self: flex-end;
		margin-top: 15px;
	}
	
	
	/*  
	-------------------------
		footer style...........
	-------------------------
	*/

	.footer__main-nav {
		display: none;
	}
}

@media screen and (max-width: 780px) {
	/*  
	-------------------------
		Headline style...........
	-------------------------
	*/

	.headline__h {
		font-size: 45px;
	}

	/*  
	-------------------------
		About style.............
	-------------------------
	*/

	.short-about__mg { display: none; }

	.short-about__info {
		width: 100%;
		background: url("../images/about-img.png") no-repeat center;
		background-size: cover;
	}

	/*  
	-------------------------
		Services style..........
	-------------------------
	*/

	.services__mg { display: none; }

	.services__info {
		width: 100%;
		background: url("../images/services-img.png") no-repeat center;
		background-size: cover;
	}

	/*  
	-------------------------
		Portfolio style..........
	-------------------------
	*/

	.portfolio__logo { display: none; }

	.portfolio__header { justify-content: flex-end; }

	.work-title { 
		display: none;
	}

	.works {
		flex-direction: column;
	}

	.works-row {
		flex-direction: row;
	}

	.works-row:not(:last-child) {
		margin-right: 0;
		margin-bottom: 30px;
	}

	.work-lg2 {
		display: none;
	}

	.work-lg1 {
		display: block;
	}

	/*  
	-------------------------
		Whats people says........
	-------------------------
	*/

	.comments {
		flex-direction: column;
	}

	.user {
		float: none;
	}

	.user__comment {
		margin: 15px auto 0;
		border-left: none;
		border-top: 4px solid #de4bc6;
	}

	/*  
	-------------------------
		Message .................
	-------------------------
	*/

	.message {
		margin-top: 100px;
	}

	.message__headline {
		text-align: center;
	}

	.message-contact {
		flex-direction: column;
		align-items: center;
	}

	.message-contact__r {
		padding-right: 60px;
	}

	.message-contact__cont {
		margin-top: 50px;
		padding: 0;
	}

}

@media screen and (max-width: 550px) {
	/*  
	-------------------------
		Headline .................
	-------------------------
	*/

	.headline__img {
		display: none;
	}

	.headline__h {
		position: static;
		padding: 0 20px;
		margin: 40px auto 30px;
		box-sizing: border-box;
	}

	/*  
	-------------------------
		About style.............
	-------------------------
	*/
	.short-about__info {
		text-align: center;
	}

	.short-about__info {
		background: none;
	}

	/*  
	-------------------------
		Services style..........
	-------------------------
	*/

	.services__info {
		background: none;
		text-align: center;
	}
	
	.services__nav {
		margin-left: auto;
		margin-right: auto;
	}

	.services__nav-box {
		flex-direction: column;
	}

	.services__nav-box:nth-child(1) {
		margin-bottom: 0;
	}

	.services__nav-item {
		margin-bottom: 40px;
	}

	.services__nav-box:nth-child(2) .services__nav-item:last-child {
		margin-bottom: 0;
	}

	/*  
	-------------------------
		Portfolio style..........
	-------------------------
	*/

	.portfolio__headline {
		text-align: center;
	}

	.portfolio__p2 {
		text-align: center;
	}

	.portfolio__b-box {
		align-self: center;
	}

	/*  
	-------------------------
		Whats people says........
	-------------------------
	*/

	.user-comments {
		text-align: center;
	}
	
	.switch {
		display: none;
	}

	/*  
	-------------------------
		Message .................
	-------------------------
	*/
	
	.message-contact__r {
		padding-right: 0;
	}

	.message__socials {
		display: none;
	}

	.message-contact__cont {
		font-size: 16px;
	}

	/*  
	-------------------------
		Portfolio style..........
	-------------------------
	*/

	.footer__inner {
		flex-direction: column;
	}

	.f-contact {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
	}

	.f-social {
		padding-left: 0;
		margin-top: 10px;
	}
}