body {
	background-color: #fff;
	font: 18px/1.3 'lato', sans-serif;
}

.wrapper {
	margin: 0 auto;
	max-width: 1180px;
	padding: 0 20px;
}

.page-header {
	width: 100%;
}

.page-header__inner {
	padding-top: 20px;
}

.page-header__header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: solid 1px #e5e5e5;
}

.logo {
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
}

.logo__inner {
	display: block;
	padding: 8px 8px;
	background-color: #222;
	color: #fff;
}

.logo__inner:hover {
	color: #fff;
	text-decoration: none;
}

.main-nav {
	order: 1;
}

.main-nav__nav {
	position: absolute;
	left: 0;
	display: none;
	width: 100%;
	padding: 0 25px;
	background-color: #8d8d8d;
	font-size: 20px;
}

.main-nav__nav-item a {
	display: block;
	padding: 15px 0;
	color: #fff;
}

.main-nav__nav-item:not(:last-child) a{
	border-bottom: 1px solid #747474;;
}

.main-nav__nav-item a:hover {
	text-decoration: none;
}

.hamburger-button {
	display: flex;
	width: 42px;
	height: 42px;
	background-color: #8d8d8d;
	cursor: pointer;
}

.hamburger-button__btn {
	position: relative;
	display: block;
	width: 30px;
	height: 3px;
	margin: auto;
	background-color: #fff;
}

.hamburger-button__btn::before,
.hamburger-button__btn::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: #fff;
}

.hamburger-button__btn::before {
	top: -8px;
}

.hamburger-button__btn::after {
	bottom: -8px;
}

.user-info {
	color: #303030;
	font-size: 14px;
	margin: 0 30px 0 auto;
}

.user-info__box {
	display: inline-block;
}

.user-info__log-in {
	display: none;
}

.user-info__search {
	display: none;
}

.basket-icon {
	display: inline-block;
	background-image: url('../images/basket-icon.svg');
	width: 17px;
	height: 17px;
}

.user-info__txt {
	display: none;
}

.page-hadeline {
	padding-top: 15px;
	text-align: center;
}

.page-hadeline__headline {
	font-size: 50px;
	color: #303030;
	text-transform: uppercase;
	font-weight: normal;
}

.page-hadeline__sub-info {
	color: #606060;
	margin-top: 20px;
	font-family: Georgia, sans-serif;
	font-size: 20px;
	font-style: italic;
}

.page-hadeline__check {
	display: none;
}

.content {
	width: 100%;
}

.content__inner {
	display: flex;
	flex-direction: column;
	padding-top: 60px;
}

.row {
	display: flex;
}

.left-row {
	flex-direction: column;
}

.middle-row {
	flex-direction: column;
	flex-wrap: wrap;
}

.right-row {
	flex-direction: column;
	order: -1;
}

.row__lg-box {
	height: 590px;
}

.row__sm-box {
	height: 295px;
	background-color: #828282;
}

.hide-mb {
	display: none;
}

.mb-sm-box {
	height: 190px;
}

.row__flex-box { 
	display: flex;
	width: 100%;
	height: 100%;
}

.box-color-1 { background-color: #828282; }

.box-color-2 { background-color: #767676; }

.box-color-3 { background-color: #606060; }

.box-info {
	display: block;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin: auto;
}

.box-info:hover {
	color: #fff;
	text-decoration: none;
}

.box-info__arrow-icon {

}

.box-info__arrow-icon-ico {
	display: inline-block;
	width: 13px;
	height: 27px;
	background: url(../images/arrow-up.png) no-repeat;
}

.box-md-headline {
	font-size: 28px;
	font-weight: bold;
}

.box-sm-headline {
	font-size: 24px;
	font-weight: bold;
}

.box-sub-info {
	font-size: 18px;
	font-family: Georgia, sans-serif;
	font-style: italic;
}

.sign-up-update {
	width: 100%;
}

.sign-up-update__inner {
	padding: 60px 20px 0;
}

.sign-up-update__headline {
	text-align: center;
}

.sign-up-update__headline-hl {
	color: #303030;
	font-size: 28px;
	text-transform: uppercase;
}

.sign-up-update__headline-sub {
	padding-top: 10px;
	color: #606060;
	font-size: 18px;
	font-family: Georgia, sans-serif;
	font-style: italic;
}

.sign-up-update__sign {
	display: flex;
	max-width: 570px;
	margin: 20px auto 0;
}

.sign-up-update__mail {
	width: 75%;
	padding: 8px 15px;
	border: 1px solid #959595;
	border-right: none;
	line-height: 35px;
}

.sign-up-update__mail::placeholder {
	font-size: 18px;
	font-style: italic;
}

.sign-up-update__btn {
	width: 25%;
	color: #fff;
	background-color: #ef8440; 
	border: 1px solid #df7634;
	cursor: pointer;
}

.slider {
	width: 100%;
}

.slider__inner {
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
	padding-bottom: 50px;
}

.slider__img-box {
	flex-basis: 50%;
	height: 120px;
	background-color: #bbbbbb;
}

.footer {
	width: 100%;
}

.footer__inner {
	padding-bottom: 20px;
}

.site-sub-ifno { 
	padding-top: 40px;
	border-top: 1px solid #e5e5e5;
}

.site-sub-ifno__box {
	margin-bottom: 30px;
	text-align: center;
}

.site-sub-ifno__box-hd {
	color: #303030;
	font-size: 24px;
	text-transform: uppercase;
}

.copy-right {
	color: #303030;
	font-size: 16px;
	padding-top: 10px;
}

.site-sub-ifno__box-social {
	padding-top: 15px;
}

.social-icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 1px solid #606060;
	cursor: pointer;
}

.social-icon:not(:last-child) {
	margin-right: 10px;
}

.social-twitter {
	background: url('../images/tw-icon.png') no-repeat 50% 50%;
}

.social-facebook {
	background: url('../images/fb-icon.png') no-repeat 50% 50%;
}

.social-instagram {
	background: url('../images/in-icon.png') no-repeat 50% 50%;
}

.site-sub-ifno__box-nav {
		font-size: 12px;
		margin-top: 15px;
	}

.site-sub-ifno__box-nav-itm:not(:last-child) {
	margin-bottom: 5px;
}

.site-sub-ifno__box-nav-itm a {
	color: #303030;
}

.site-sub-ifno__box-nav-itm a:hover {
	text-decoration: none;
}

.copy-right {
	max-width: 300px;
	margin: 0 auto;
}

@media screen and (min-width: 480px) {
	.logo__inner {
		font-size: 25px;
		padding: 14px;
	}

	.hamburger-button {
		width: 60px;
		height: 60px;
	}

	.hamburger-button__btn {
		width: 32px;
		height: 4px;
	}

	.hamburger-button__btn::before,
	.hamburger-button__btn::after {
	width: 32px;
	height: 4px;
	}

	.hamburger-button__btn::before {
		top: -10px;
	}

	.hamburger-button__btn::after {
		bottom: -10px;
	}

	.basket-icon {
		background-size: 30px;
		width: 30px;
		height: 30px;
	}
	
	.user-info {
		margin-right: 40px;
	}

	.page-hadeline__headline {
		font-size: 70px;
	}

	.page-hadeline__sub-info {
		font-size: 24px;
	}

	.sign-up-update__headline-hl {
		font-size: 36px;
	}

	.sign-up-update__sign {
		margin-top: 60px;
	}

	.slider__inner {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.site-sub-ifno__box-social {
		padding-top: 30px;
	}
}

@media screen and (min-width: 630px) {
		
	.page-hadeline__check {
		display: block;
		margin-top: 50px;
		text-align: center;
	}

	.page-hadeline__check-btn {
		display: inline-block;
		padding: 20px 30px;
		border: 1px solid #959595;
		color: #303030;
		font-size: 14px;
		text-transform: uppercase;
	}

	.page-hadeline__check-btn:hover {
		text-decoration: none;
		background-color: #606060;
		color: #fff;
	}

	.content__inner {
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	.left-row {
		order: -1;
	}

	.left-row,
	.right-row {
		flex-basis: 50%;
	}

	.middle-row {
		flex-direction: row;
		flex-basis: 100%;
		flex-wrap: wrap;
	}

	.hide-mb {
		display: block;
	}

	.hide-dt {
		display: none;
	}

	.row__sm-box {
		height: 295px;
	}

	.middle-row__sm-box {
		flex-basis: 50%;
	}
	
	.box-color-4 { background-color: #dbdbdb; }
	.box-color-5 { background-color: #d7d7d7; }
	.box-color-6 { background-color: #d2d2d2; }
	.box-color-7 { background-color: #d0d0d0; }
	.box-color-8 { background-color: #cacaca; }
	.box-color-9 { background-color: #c2c2c2; }
	.box-color-10 { background-color: #bbbbbb; }
	
	.box-info__icon {
		text-align: center;
	}

	.box-info__icon-ico {
		position: relative;
		display: inline-block;
		width: 30px;
		height: 30px;
		background: url('../images/news-icon.png') no-repeat 50% 50%;
	}

	.box-info__icon-ico::before,
	.box-info__icon-ico::after {
		content: '';
		position: absolute;
		display: block;
		width: 22px;
		height: 1px;
		background-color: #fff;
		top: 50%;
	}

	.box-info__icon-ico::before {
		left: -30px;
	}

	.box-info__icon-ico::after {
		right: -30px;
	}

	.box-info__news {
		padding-top: 20px;
		max-width: 200px;
		color: #fff;
		text-transform: none;
		font-family: Georgia, sans-serif;
		font-style: italic;
		font-size: 14px;
	}

	.box-sub__news-author {
		padding-top: 20px;
		text-transform: none;
		color: #fff;
		font-size: 14px;
	}
	
	.site-sub-ifno {
		display: flex;
		flex-wrap: wrap;
	}

	.site-sub-ifno__box {
		flex-basis: 50%;
	}

	.site-sub-ifno__box-nav-itm a:hover {
		text-decoration: underline;
	}

	.social-twitter:hover {
		background: #606060 url('../images/tw-icon-hv.png') no-repeat 50% 50%;
	}

	.social-facebook:hover {
		background: #606060 url('../images/fb-icon-hv.png') no-repeat 50% 50%;
	}

	.social-instagram:hover {
		background: #606060 url('../images/in-icon-hv.png') no-repeat 50% 50%;
	}

}

@media screen and (min-width: 920px) {
	.logo__inner {
		font-size: 14px;
		padding: 14px;
	}

	.hamburger-button {
		display: none;
	}

	.main-nav {
		margin: 0 auto 0 30px;
	}

	.main-nav__nav {
		position: static;
		display: block;
		padding: 0;
		font-size: 0px;
		background-color: transparent;
	}
	 
	.main-nav__nav-item {
		display: inline-block;
	}

	.main-nav__nav-item:not(:last-child) a {border:none;}

	.main-nav__nav-item a {
		padding: 10px;
		font-size: 14px;
		color: #303030;
		border-bottom: 1px solid transparent;
	}

	.main-nav__nav-item a:hover {
		border-bottom: 1px solid #959595;
	}

	.user-info {
		display:flex;
		align-items: center;
		margin: 0;
		order: 1;
	}

	.user-info__box {
		display: inline-block;
		cursor: pointer;
	}

	.log-in-icon {
		display: inline-block;
		background-image: url('../images/log-in-icon.svg');
		width: 11px;
		height: 17px;
	}

	.basket-icon {
		width: 17px;
		height: 17px;
		background-size: 17px;
	}

	.user-info__log-in,
	.user-info__basket {
		margin-right: 15px;
	}

	.user-info__txt { 
		display: inline;
		vertical-align: top; 
	}

	.user-info__search {
		position: relative;
	}

	.user-info__search-inp { 
		display: none;
		position: absolute;
		right: 41px;
		width: 200px;
		height: 42px;
		padding: 0 10px;
		background-color: #fff;
		color: #606060;
		border: 1px solid #959595;
	}

	.user-info__search-btn {
		display: block;
		width: 42px;
		height: 42px;
		border: 1px solid #959595;
		background: url('../images/search-icon.png') no-repeat 50% 50%;
	}

	.user-info__search-btn:hover {
		background: #606060 url('../images/search-icon-hv.png') no-repeat 50% 50%;
	} 

	.content__inner {
		flex-wrap: nowrap;
	}

	.right-row,
	.left-row {
		flex-basis: 25%;
	} 

	.right-row {
		order: 1;
	}

	.middle-row {
		flex-basis: 50%;
	}

	.site-sub-ifno {
		display: flex;
		flex-wrap: nowrap;
	}

	.site-sub-ifno__box {
		flex-basis: 25%;
		text-align: left;
	}
}