////////////////////////
		// Code //
////////////////////////

body {
	background-color: #151618;
}

.logo {
	position: absolute;
	left: 90%;
	top: 3vh;
	transform: translateX(-90%);
	display: block;
	width: 400px;
	height: auto;	
}


