			////////////////////////
			// Code //
			////////////////////////


////////////////////////
		// Header //
////////////////////////

.logo {
	position: absolute;
	left: 50%;
	top: 3vh;
	display: block;
	width: 200px;
	height: auto;	
	transform: translateX(-50%);
	transition: all .3s linear;
}

.header__nav {
	position: absolute;
	left: 50%;
	bottom: 15%;
	transform: translateX(-50%);
}

.header__nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.header__item {
	position: relative;
	display: inline-block;
}

.header__item+.header__item {
	margin-left: 20px;
}

.header__link {
	position: relative;
	display: block;
	padding: 5px 15px;
	font-size: 18px;
	text-transform: uppercase;
}

.header__item::before,
.header__item::after,
.header__link::before,
.header__link::after {
	content: "";
	position: absolute;
	display: block;
	transition: all .1s linear;
}


.header__item::before {
	top: 0;
	left: 0;
	width: 1px;
	height: 0;
	background-color: #99a1a6;
}

.header__item::after {
	bottom: 0;
	right: 0;
	width: 1px;
	height: 0;
	background-color: #99a1a6;
}

.header__item:hover::before,
.header__item:hover::after {
	height: 60%;
}

.header__link::before {
	top: 0;
	left: 0;
	width: 50%;
	height: 1px;
	background-color: #99a1a6;
}

.header__link::after {
	bottom: 0;
	right: 0;
	width: 50%;
	height: 1px;
	background-color: #99a1a6;
}

.header__link:hover::before,
.header__link:hover::after {
	width: 25%;
}

.main-headline {
	font-family: Acadian;
	font-size: 40px;
	text-align: center;
	position: absolute;
	text-align: center;
	bottom: 10%;
	transform: translateY(10%);
	width: 100%;
	margin:0;
	padding: 0;
	letter-spacing: 5px;
	text-shadow: 0 0 30px #000;
	transition: all .3s linear;
}

////////////////////////
		// End Header //
////////////////////////

.line-break{ display: block; }

.section-headline {
	font-family: Acadian;
	text-align: center;
	font-size: 30px;
	margin: 0;
	transition: all .3s linear;
}

.gallery__link {
	display: block;
	margin: 0;
	padding: 10px;
	transition: all .3s; 
}


.gallery__link img {
	border: 1px solid rgba(255, 255, 255, .5);
	box-shadow: 0 0 1px #fff;
}

