////////////////////////
		// Images //
////////////////////////


.header-bg__img1 {
	background: url("../images/header-bg1.jpg") no-repeat center 0;
	background-size: cover;
}
.header-bg__img2 {
	transform: translateX(100%);
	background: url("../images/header-bg2.jpg") no-repeat center 0;
	background-size: cover;
}

.header-bg__img3 {
	transform: translateX(200%);
	background: url("../images/header-bg3.jpg") no-repeat center 0;
	background-size: cover;
}

.header-bg__gradient {
	background: linear-gradient(0, #262627 30%, transparent 135%);
	z-index: 2;
}


