			////////////////////////
			// Code //
			////////////////////////


////////////////////////
		// Header //
////////////////////////

.logo {
	position: absolute;
	left: 50%;
	top: 3vh;
	display: block;
	width: 200px;
	height: auto;	
	transform: translateX(-50%);
	transition: all .3s linear;
}



////////////////////////
		// End Header //
////////////////////////



.section-headline {
	font-family: Acadian;
	text-align: center;
	font-size: 30px;
	margin: 0;
	transition: all .3s linear;
}



