////////////////////////
		// Base //
////////////////////////

body {
	font-family: Roboto, arial, serif;
	background-color: #151618;
	color: #99a1a6;
}


a {
	text-decoration: none;
	color: inherit;
}


