$clr-1: #2a2d2e;
$clr-2: #3a4142;
$clr-3: #cf38ef;
$clr-4: #d828b8;
$clr-5: #2d2b2b;
$clr-6: #4a4a4a;
$clr-7: #262227;
$clr-8: #898989;
$clr-9: #34322f;
$clr-10: #96a9bb;
$clr-11: #de4bc6;
$clr-12: #5b646e;
$clr-13: #493f3f;