////////////////////////
		// Variables //
////////////////////////

// Colors

$white: #fff;
$black: #000;
$navy: #0a0e34;
$gray: #c1c1c1;
$gray-light: #e7e7e7;
$blue-violet: #5e42b0;
$blue-violet-light: #9071ea;
$blue-violet-lighten: #a496ca;
